html {
  /* hide scroll bar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

svg {
  > path {
    fill: currentColor;
    stroke: currentColor;
  }
}